#titulo{
            background-color: yellow;
            text-align: center;
            font-size: 50px;
        }

#descricao{
    font-size: 30px;
    text-align: center;
}

#imagem{
    align-content: ;
}