/* GERAL */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

#box-principal {
    display: grid;
    grid-template-rows: 260px 1fr 120px;
    grid-template-columns: 150px 1fr;
}


/* HEADER */

#header {
    grid-row: 1;
    grid-column: 1 / span 3;
    background-color:rgb(255, 255, 255);
}

#grid-header {
    display: grid;
    grid-template-rows: 40px 160px 60px;
    margin-top: 10px;
    margin-bottom: 40px;
}

#ultimas-noticias-header {
    display: flex;
    grid-row: 1;
    background-color: black;
    min-height:100%;
}

#logo-header {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    grid-row: 2;
    background-color: rgb(229, 230, 233);
    min-height:100%;
}

#nav-header {
    display: flex;
    grid-row: 3;
    background-color: rgb(63, 170, 212);
    min-height:100%;
}

/* MAIN */

#area-dinamica {
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 40%;
    justify-content: space-between;
    align-content: center;
    background-color: antiquewhite;
    min-height: 100%;
    min-width: 100%;
}

/* 1° LINHA MAIN */
#principais-noticias-semana {
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-columns: 70% 30%;
    grid-row: 1;
}