* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#topo {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr 50px;
}    

#cabeçalho {
    background-color:darkgreen;
    grid-row: 1;
    grid-column: 1 / span 2;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

#background-cabeçalho {
    display: flex;
    justify-content: space-between;
}

#menu-cabeçalho {
    flex-grow: 1;
    align-content:center;
}

#menu-cabeçalho ul {
    display:flex;
    justify-content:space-evenly;
    list-style-type:none;
}

#menu-cabeçalho li {
    font-size: 30px;
    color:antiquewhite;
    
}

/*  SIDEBAR */

